.rectangularCard{
  width:20em;
  height: auto;
  padding:1em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 10px 10px 10px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 10px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 10px -8px rgba(0,0,0,0.75);
  margin: 1em;
  border-radius: 0.5em;
}

.portraitCard{
  min-width: 15em;
  height: fit-content;
  padding:1em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 10px 10px 10px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 10px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 10px -8px rgba(0,0,0,0.75);
  margin: 1em;
  border-radius: 0.5em;
}

.circleCard{
  width:18em;
  height: 18em;
  border-radius: 100%;
  padding:1em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 10px 10px 10px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 10px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 10px -8px rgba(0,0,0,0.75);
  margin: 1em;
}

.headerCard{
  display: flex;
  justify-content: flex-end;
}

.editCard{
  cursor: pointer;
  background-color:#5981e3;
  padding: 0.15em;
  border-radius: 0.2em;
  color:#fff;
}


@media(max-width:767px){
  .rectangularCard{
    width: 10em;
  }

  .portraitCard{
    width: 6em;
    height: 7em;
  }

  .circleCard{
    width: 10em;
    height: 10em;
  }
}